:root {
  --light_shade: #f5f5f5;
  --heading_shade: #292828;
  --rating: gold;
}
.hero_section {
  height: 70vh;
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)), url(../../assets/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  place-content: center;
}
.hero_wrapper {
  display: flex;
  flex-direction: column;
}
.hero_right, .hero_left{
    width: 12rem;
    height: 5rem;
    position: absolute;
  background-color: var(--light_shade);
}
.hero_right {
  top: 2.5rem;
  left: 12rem;
}
.hero_left {
  bottom: 2rem;
  right: 12rem;
}
.hero_content {
  width: 50rem;
  height: 23rem;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hero_content h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.hero_content p {
  font-size: 1.5rem;
  text-align: center;
}
.hero_content button {
  font-size: 1.2rem;
  font-weight: 600;
  width: 60%;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--nature);
  border-radius: 5px;
}
.hero_content button:hover {
  color: var(--nature);
  background-color: var(--text-color);
}

/* About Section Styling */
.about_section{
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    gap:1rem;
}
.about_section ol{
    list-style-type: none;
}
.about_section button{
    margin-top: .5rem;
    width: 50%;
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--text-color)
}
.about_section button:hover{
    background-color: var(--text-color );
    color: var(--primary-color)
}


/* Offerings Section Styling */
.offer_wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.offer_wrapper_reverse{
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
}
.offering_img img{
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
.offering_text{
  display: grid;
  gap: 1rem;
}
.offering_text_reverse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.offering_text h1, .offering_text_reverse h1{
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--heading_shade)
}
.offering_text p, .offering_text_reverse p{
  font-size: 1.5rem;
}
.offering_text button, .offering_text_reverse button{
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 30%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
}
.offer_wrapper_reverse{
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  padding: 1rem;
}

/* Why Setion Style */
.why_container{
  width: 20rem;
  height: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  border: 2px solid black;
  overflow: hidden;
}
.why_container img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 10px;
  overflow:hidden;
}
.why_container p{
  font-size: 1rem;
  font-weight: 500;
}
.why_wrapper{
  display: flex;
  padding: .5rem;
  gap: 1rem;

}

/* Testimonial Section Styling */
.testimony_wrapper{
  font-size: 1rem;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.testimony_wrapper img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.testimony_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.testimony_response{
  display: flex;
  justify-content: space-evenly;
}
.testimony_response svg{
  color: var(--rating)
}